<html>

<head>
    <title>Vijay Padmakumar's Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Vijay Padmakumar's Blog</a></h1>
    </div>

    <div>

        <h2><a href="">Django?</a></h2>
        <p>Django is a huge framework that would take me multiple months to learn. The number of things you can do with
            Django and my interest in web developments are huge.
        </p>
        <p>published: 29.08.2020, 01:45:55</p>
    </div>

    <div>

        <h2><a href="">What I want to do.</a></h2>
        <p>I've been delving into web development and all the cool things associated with front-end development. I've
            made a game using vanilla js and using a few external libraries I've made a website for a business.
        </p>
        <p>published: 29.08.2020, 01:45:55</p>
    </div>

    <div>

        <h2><a href="">What I've enjoyed studying in my first year at University.</a></h2>
        <p>
            University is definitely one of the most challenging experiences I've ever had. Pulling all-nighters to
            finish my assignments and balancing that with my social life has rewarded me with an amazing year. All the
            modules were very interesting and I've really enjoyed making the LEGO robot.
        </p>
        <p>published: 29.08.2020, 01:45:55</p>
    </div>
</body>

</html>